@mixin buttons($sizePadding, $colorTertiary, $paragraphFont, $colorFont){
    padding: $sizePadding;
    background-color: $colorTertiary;
    font-size: $paragraphFont;
    color: $colorTertiary;
    border: none;
}