@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

$colorPrimary: hsl(0, 0%, 98%);
$colorSecundary: hsl(0, 0%, 41%);
$colorTertiary: hsl(0, 0%, 8%);
$typografyFont: 'Epilogue';
$paragraphFont: 18px;