
.header{
    &__nav{
        display: flex;
        justify-content: space-between;
    }
    &__left{
        display: flex;
        align-items: center;
        gap: 15px;
    }
    &__logo{
        display: flex;
        align-items: center;
    }
    &__list{
        display: flex;
        justify-content: center;
        gap: 2rem;
        list-style: none;
    }
    &__right{
        display: flex;
    align-items: center;
    gap: 12px;
    }
}