@import "variables.scss";
@import "universals.scss";
@import "mixing.scss";

.header {
  color: $colorSecundary;

  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  &__menu-bar {
    display: none;
  }

  &__button-close {
    background-color: yellow;
    position: absolute;
    z-index: 220;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  &__icono {
    display: none;
  }

  &__logo {
    display: flex;
    align-items: center;
    width: 150px;
    padding-left: 50px;
  }
  &__logo--mobile{
    display: none;
  }
  &__list {
    display: flex;
    overflow: hidden;
    list-style: none;

    li {
      float: left;
    }

    li a {
      color: hsl(0, 0%, 41%);
      padding: 20px;
      display: block;
      text-decoration: none;
    }

    li span {
      margin-right: 10px;
    }

    .list__sub-items,
    .list__sub-itemsTwo {
      background-color: $colorPrimary;
      box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.212);
      border-radius: 10px;
      color: wheat;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      position: absolute;
      height: 0;
    }

    .list__sub-itemsTwo {
      margin-left: 20px;
    }

    .showItems {
      animation: 1s showMenuDestok forwards;
    }

    @keyframes showMenuDestok {
      0% {
        height: 0;
      }

      100% {
        height: 240px;
      }
    }

  }

  &__right {
    display: flex;
    align-items: center;
    gap: 12px;

    button {
      @include button;
    }

    button:first-child {
      border: none;
    }
  }

  &__select {
    font-size: $paragraphFont;
    border: none;
    color: $colorSecundary;

    option {
      font-family: $typografyFont;
    }
  }
}

.main {
  margin: 70px;

  &__seccion {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }

  &__container-left {
    width: 60%;
    gap: 2%;
    display: flex;
    padding-left: 70px;
  }

  &__details {
    width: 90%;
  }

  &__container-right {
    width: 600px;
    background-image: url(../img/image-hero-desktop.png);
    /*Imagen de fondo*/
    background-repeat: no-repeat;
    /*Para que no se repita*/
    background-size: cover;
    /*Se ajusta al contenedor*/
  }

  &__img {
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  &__title {
    font-size: 79px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 80px;
  }

  &__paragraph {
    color: $colorTertiary;
    font-family: $typografyFont;
    font-size: $paragraphFont;
    text-align: justify;
    margin-bottom: 100px;
    margin-right: 100px;
    line-height: 25px;
    width: 70%;
  }

  &__button {
    @include button($primaryColor: hsl(0, 0%, 8%), $secundaryColor: hsl(0, 0%, 98%), $TertiaryColor: hsl(0, 0%, 98%));
    border: $colorPrimary;
    margin-bottom: 100px;

    &:hover {
      background-color: $colorPrimary;
      color: $colorTertiary;
      border: solid 2px $colorTertiary;
    }}

    &__partners{
      display: flex;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      width: 90%;
    }

    &__figure-partners img {
      width: 65px;
    }
  }

@media screen and (max-width: 900px) {
  // .header {
  //   &__list{
  //     display: none;
  //   }
  // }
}

@media screen and (max-width: 375px) {
  .header {
    &__nav {
      width: 80%;
      height: 100%;
      // left:-100%;
      display: flex;
      flex-direction: column;
      margin: 0;
      background-color: rgb(255, 255, 255);
      z-index: 200;
      position: fixed;
      transform: translateX(100px);
      box-shadow: -0px 10px 0px 100px rgba(0, 0, 0, 0.329);
    }
    &__right{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 150px;
    }

    &__logo {
      display: none;
    }

    &__logo--mobile {
      position: absolute;
      transform: translate(10px, 20px);
      display: block;
    }

    &__menu-bar {
      display: block;
      width: 100%;
      position: absolute;
      z-index: 250;
      transform: translateX(280px);
      border: transparent;

      span {
        float: right;
        font-size: 40px;
      }

      .bt-menu {
        display: block;
        padding: 20px;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
    }

    &__menu-bar--open {
      background-image: url(../img/icon-close-menu.svg);
      background-repeat: no-repeat;
      background-position: center;
      width: 50px;
      height: 50px;
      margin-top: 20px;
      margin-left: 20px;
    }

    &__menu-bar--open img{
      display: none;
    }
    
    &__list {
      display: flex;
      float: none;
      flex-direction: column;
      margin-top: 50px;
      border-bottom: 1px solid rgba(255, 255, 255, .3);

      .list_sub-items,
      .list_sub-itemsTwo {
        width: 200px;
        height: 0;

        display: block;
      }

      .showItems {
        animation: 1s forwards showItems;
      }

      @keyframes showItems {
        0% {
          height: 0px;
        }

        100% {
          height: 220px;
        }
      }
    }
  }

  .main {
    width: 100%;
    margin: 0 auto;
    display: flex;

    &__seccion {
      margin-top: 100px;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }

    &__container {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      width: 100%;
      overflow: hidden;
    }

    &__container-right {
      width: 360px;
      height: 270px;
      margin: 0 auto;
      background-image: url(../img/image-hero-mobile.png);
    }

    &__img {
      width: 200px;
      height: 100%;
      opacity: 0;
    }

    &__container-left {
      width: 50%;
      margin: 10% 0;
      gap: 0;
      display: flex;
      transform: translateX(-180px);
    }

    &__title {
      font-size: 35px;
      font-weight: bold;
      text-align: center;
      width: 410px;
    }

    &__paragraph {
      color: $colorTertiary;
      font-family: $typografyFont;
      font-size: $paragraphFont;
      text-align: center;
      width: 330px;
      transform: translateX(38px);
      margin: 20% 0;
      line-height: 25px;
    }

    &__button{
      width: 150px;
      transform: translateX(130px);
      margin-bottom: 80px;
      margin-top: 30px;
    }

    &__partners{
      width: 70px;
      display: flex;
      gap: 5px;
      transform: translateX(70px);
    }
  }
}